generationapi/.idea/.idea.generationapi/.idea
generationapi/bin
generationapi/obj
jstg/node_modules
jstg/.idea
example_request_maximal.json
example_request_minimal.json
jstg/src-tauri/.DS_Store
.idea
bin
obj
docProcessor/testRunner
generation/testRunner
generation/generation.sln.DotSettings.user
