DocumentGenerationAPI/jsonSchema.json
.idea/
GenerationAPI/.idea/
GenerationAPI/JSOTdb
GenerationAPI/notes/
JSTG_App/.npmrc
GenerationAPI/DocGen/.DocGen.csproj.un~
GenerationAPI/DocGen/bin/
GenerationAPI/DocGen/obj/
GenerationAPI/bin/
GenerationAPI/obj/
DocumentGenerationAPI/bin/
DocumentGenerationAPI/obj/
JSOT.sqlite3
JSOTdb
node_modules/
