DocumentGenerationAPI/jsonSchema.json
log/
.idea/
GenerationAPI/.idea/
GenerationAPI/JSOTdb
GenerationAPI/notes/
JSTG_App/.npmrc
GenerationAPI/DocGen/.DocGen.csproj.un~
GenerationAPI/DocGen/bin/
GenerationAPI/DocGen/obj/
GenerationAPI/bin/
GenerationAPI/obj/
DocumentGenerationAPI/bin/
DocumentGenerationAPI/obj/
JSTG.sqlite3
JSOTdb
node_modules/
DocumentGenerationAPI/DocProcessor/bin/
DocumentGenerationAPI/DocProcessor/obj/
DocumentGenerationAPI/DocumentGenerationAPI/bin/
DocumentGenerationAPI/DocumentGenerationAPI/obj/
DocumentGenerationAPI/TestRunner/bin/
DocumentGenerationAPI/TestRunner/obj/
DocumentGenerationAPI/TESTING_FILES/
JSTG_App/src-tauri/src/connstring.txt
