$primary-color: #2C0A50; // Russian Violet
$secondary-color: #51455E; // English Violet
$shadow-color: #E0C7F1; // Thistle
$background-color-1: #2C2C2C; // Jet (darker)
$background-color-2: #323232; // Jet (lighter)
$text-color: #E3E3E3; // Platinum
$accent-color: #262626; // Eerie Black (lighter)
$input-border-color: #1F1F1F; // Eerie Black (darker)
